.sidebar {
    position: relative;
    width: 91px;
    height: 903px;
    left: 20px;
    top: 10px;
    background: #0F0933;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.sidebar-circle {
    width: 52px;
    height: 52px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 70px;
}

.sidebar-first {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-second {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-third {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-fourth {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-fifth {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-sixth {
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-greencircle {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidebar-whitecircle {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
